/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #121212;
  color: #f0f0f0;
}

/* Barra superior (redes sociais) */
.barra {
  background-color: #FDC700;
  padding: 8px 15px 0;
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}

img {
  width: 25px;
  height: 25px;
}

img:hover {
  box-shadow: inset 0 0 0 4px rgba(0, 0, 0, 1.0);
  border-radius: 3px;
}

/* Cabeçalho */
header {
  background-image: url('../static/img.gif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  /* padding: 40px 20px; */
  /* text-align: center; */
  /* position: relative; */
  /* z-index: 1; */
}

.nome{
  padding: 20px 0 0 40px;

}

.nome p {
  position: relative;
  top: -20px; /* Ajuste fino: use -4px a -10px conforme necessário */
  margin: 0;
}

nav {
  height: 30px;
  text-align: center;
}

nav a {
  color: #FDC700;
  margin-left: 5px;
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
}

nav a:hover {
  color: #1f1f1f;
  background-color: #FDC700;
  text-decoration: none;
  padding: 10px;
}

h1 {
  font-family: "Alumni Sans SC", sans-serif;
  font-weight: 700;
  font-size: 65px;
}

h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #FDC700;
}

main {
  max-width: 1280px;
  margin: auto;
  padding: 0 20px;
  margin-top: 20px;
}

main section {
  background-color: #aaaaaa11;
  padding: 40px;
  /* margin-top: 20px; */
  /* border-radius: 8px; */
}

/* Seção de Contato */
.contato {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto auto;
  gap: 40px;
  /* justify-items: center; */
  /* background-color: #222; */
  padding: 30px;
}

/* Seções específicas */
.sobre-section,
.mapa-section,
.form-section {
  padding: 30px;
  border-radius: 8px;
}

.mapa-section a{
  color: #a1a1a1;
  text-decoration: none;
}

/* Mapa */
.mapa-section {
  /* color: #FDC700;
  text-decoration: none; */
  margin-right: 150px;

  grid-column: 1;
  grid-row: 2;
}

/* Sobre */
.sobre-section{
  margin-right: 150px;
  grid-row: 1;
}

/* Formulário */
.form-section {
  width: 100%;
  max-width: 350px;
  max-height: 100%;
  /* margin-left: 220px; */
  background-color: #3d3d3d69;

  grid-column: 2;
  grid-row: 1/-1;
}

form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

input,
textarea {
  padding: 7px;
  border: none;
  border-radius: 4px;
  font-size: 1em;
}

button {
  background-color: #FDC700;
  border: none;
  margin-top: 25px;
  padding: 10px;
  font-weight: bold;
  color: #1f1f1f;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.4s;
}

button:hover {
  background-color: #000000;
  color: #e0b600;
}

textarea {
  resize: none;
  min-height: 100px;
  font-family: Arial, sans-serif;
}

/* Rodapé */
footer {
  margin-top: 20px;
  text-align: center;
  padding: 5px;
  background-color: #1f1f1f;
  border-top: 2px solid #333;
  color: #aaa;
}

/* Lista sem marcadores */
ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}
